<header class="col-md-12">
    <div class="row">
      <span class="col-md-8" style="text-align: center;">
        <a href="/index.html"><img src="/logo.gif" align="left"/></a>
        <h1 align="center"><%= title %></h1>
      </span>
      <span class="col-md-4">
          Add search form from Google Site Search here
      </span>
    </div>
  
  </header>
  